
<p> <%=@title%> </p>

<!-- Field of barcode to look for alumn -->
<form method="get" action="/reader">
  <div class="form-group" style="width:15%; margin:0 auto;" >
  	
    <input type="text" class="form-control" placeholder="Bar Code" autofocus='true' maxlength="6" 
    		name="bar_code">
  </div>
</form>


<!-- Image of gama's school -->
<img src="" class="img-responsive" alt="Escola do Gama">
