

<form>
  <div class="form-group" style="width:15%; margin:0 auto;" >
    <input type="text" class="form-control" id="mat" placeholder="Matrícula" autofocus='true' maxlength="6" >
  </div>
</form>
<img src="home/leonardo/Área%20de%20Trabalho/PastaEscolaX/EscolaX_Leitor/Escola%20X%20Leitor/app/assets/images/escola.jpg" class="img-responsive" alt="Escola do Gama">
